@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root,
::backdrop {
	--background: #09090b;
	--sl-color-gray-6: var(--background);
	--sl-color-bg: var(--background);
}
:root[data-theme="light"] {
	--background: #fafafa;
}
[data-has-hero] .page {
	@apply bg-background;
}
.header {
	@apply bg-transparent backdrop-blur-lg;
}

.card {
	@apply rounded-xl border border-accent-500 !bg-accent-800/10 bg-accent-100  hover:border-accent-800 dark:border-accent-800 dark:bg-accent-900 hover:dark:border-accent-500;
}
